body{
    margin: 0;
}
.hilight-font{
    color: orange;

}
.header-font{
    font-size: 60px;
    border-left: 10px solid orangered;
    border-image-slice: 30;
    border-radius: 10px;
}
.heading{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
half-width{
    width: 50%;
}
.half-width img{
    width: 70%;
    margin-left: 100px;
}
.button{
    padding: 10px 30px;
    background-color: rgb(231, 61, 112);
    border-radius: 10px;
    font-size: 25px;
    color: wheat;
    border: none;
    cursor: pointer;
}
.button:hover{
    background-color: green;

}
.Mission{
    width: 400px;
    background-color: orchid;
    border-radius: 20px;
}
.Mission img{
    width: 200px;
}
.Vission{
    width: 400px;
    background-color: rgb(172, 241, 238);
    border-radius: 20px;
}
.Vission img{
    width: 200px;
}
.Goals{
    width: 400px;
    background-color: rgb(246, 255, 167);
    border-radius: 20px;
}
.Goals img{
    width: 200px;
}
.main{
    text-align: center;
}
.title{
    font-size: 60px;
}
.hilight{
    color: orangered;
}
.all-aim{
    display: flex;
    justify-content: space-around;
}
.about{
    display: flex;
    width: 80%;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
.about img{
    width: 80%;
}
p{
    font-family: 'Libre Baskerville', serif;
}
.recent-visit-title{
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
}
.dhaka{
    width: 300px;
    border: 1px;
    border: solid 1px gray;
    box-shadow: 4px 4px 12px gray;
    border-radius: 10px;
}
.dhaka img{
    width: 100%;
    border-radius: 10px;
}
.text-info{
    text-align: center;
}
.all-division{
    display: flex;
    justify-content: space-around;
}
.pragraph-font{
    font-size: 20px;
}
.footer{
    width: 100%;
    padding: 50px;
    background-color: rgb(11, 11, 26);
    margin-top: 200px;
    color: wheat;
    text-align: center;
}
.footer-c{
    color: orangered;
}